/* CSS Document */
#contain{ width:670px; height:500px; margin-top:20px;  font-size:12px; padding-left:5px;}
	.title{ font-size:12px; color:#004790; font:bold; font-size:12px; width:660px; height:20px;}
	.context{ border:1px solid #CCC; width:670px; height:380px;}
	#left{ float:left; margin-top:5px;}
	#right{ float:right; margin-top:5px;}
a{ text-decoration:none; color:#000; font-size:12px;}